body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F9FB;
    color: #121E26;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
    body.light-theme {
        background-color: #F7F9FB !important;
        color: #212529 !important; 
    }
    body.dark-theme {
        background-color: #121E26 !important;
        color: #FFFFFF !important; 
    }

navbarNav.light-theme {
    background-color: #007bff; 
}

#navbarNav.dark-theme {
    background-color: #222831 !important; 
    color: #FFFFFF;
}

.navbar .btn.light-theme {
    background-color: #E94E77; 
    color: #F7F9FB;
}

.navbar .btn.dark-theme {
    background-color: #E94E77; 
    color: #F7F9FB; 
}

.navbar .btn:hover {
    background-color: #F7F9FB; 
    color: #121E26; 
}

header {
    background-color: #31708E;
    color: #F7F9FB;
    text-align: center;
    padding: 1.5em 0;
}

    header h1 {
        margin: 0;
        font-size: 32px;
    }

    header .header-container {
        max-width: 1200px;
        margin: 0 auto;
    }

nav {
    margin-top: 0px;
    text-align: center;
}

    nav a.light-theme {
        margin: 0 0px;
        color: #121E26;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    nav a.dark-theme {
        margin: 0 0px;
        color: #FFFFFF;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    nav a:hover {
        color: #E94E77;
    }

#main-content {
    padding: 20px;
}

.about-shelter {
    text-align: center;
}

    .about-shelter h2, .about-shelter p, .about-shelter figcaption {
        color: #121E26;
    }

figure {
    text-align: center;
}

    figure img {
        width: 500px;
    }


#filterButton {
    padding: 7px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}


body.light-theme #filterButton {
    background-color: #007bff; 
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    body.light-theme #filterButton:hover {
        background-color: #0056b3; 
        color: #e9ecef;
    }


body.dark-theme #filterButton {
    background-color: #222; 
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

    body.dark-theme #filterButton:hover {
        background-color: #444; 
        color: #f8f9fa;
    }


#catFact {
    color: #000000;
    font-style:italic;
}

/* Dark theme styles */
body.dark-theme #catFact {
    font-style:italic;
    color: white; 
}


    
.card .btn.light-theme {
    background-color: #007bff; 
    color: #F7F9FB; 
}
.card .btn.dark-theme {
    background-color: #030303;
}
body.dark-theme .card .btn {
    color: #FFFFFF; 
}
body.light-theme .card .btn {
    color: #FFFFFF;
    background-color: #007bff
}
body.light-theme .card .btn:hover {
    background-color: #070062;
}

.card .btn:hover {
    background-color: #31708E; 
    color: #F7F9FB; 
}

    .card .btn:hover.dark-theme {
        background-color: #F7F9FB 
    }

body.dark-theme .card .btn:hover {
    background-color: #0a0c45; 
    color: #FFFFFF; 
}
.about-shelter h2 {
    color: #121E26; 
}

.about-shelter p {
    color: #212529; 
}
    
body.dark-theme .about-shelter h2 {
    color: #FFFFFF; 
}

body.dark-theme .about-shelter p {
    color: #F7F9FB; 
}

footer.light-theme {
    background-color: #31708E; 
    color: #F7F9FB; 
}


footer.dark-theme {
    background-color: #222831 !important; 
    color: #FFFFFF !important; 
}

.navbar.dark-theme {
    background-color: #222831 !important; 
    color: #FFFFFF; 
}

    .navbar.dark-theme .nav-link {
        color: rgba(255, 255, 255, 0.5); 
    }

       
        .navbar.dark-theme .nav-link:hover {
            color: rgba(255, 255, 255); 
        }
 
    .navbar.dark-theme .navbar-brand {
        color: rgba(255, 255, 255); 
    }

.navbar-nav .nav-item.active .nav-link.da { 
    color: #FFFFFF; 
}

.navbar.dark-theme .nav-item.active .nav-link {
    color: #FFFFFF; 
}

/* LIGHT THEME OF NAVBAR*/

.navbar.light-theme {
    background-color: #007bff; 
    color: #F7F9FB; /
}

   
    .navbar.light-theme .nav-link {
        color: rgba(255, 255, 255, 0.5); 
    }


        .navbar.light-theme .nav-link:hover {
            color: #F7F9FB; 
        }

    .navbar.light-theme .navbar-brand {
        color: #F7F9FB; 
    }

    .navbar.light-theme .nav-item.active .nav-link {
        color: #FFFFFF;
    }

.theme-toggle-btn {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #31708E; 
    border: none;
    color: #FFFFFF; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

    .theme-toggle-btn:hover {
        background-color: #F7F9FB; 
        color: #121E26; 
    }
/* dark theme */
body.dark-theme .theme-toggle-btn {
    background-color: #222831; 
    color: #FFFFFF; 
}

    body.dark-theme .theme-toggle-btn:hover {
        background-color: #353935; 
        color: #F7F9FB; 
    }

.content-box {
    background-color: #F7F9FB;
    border: 2px solid #5985A5;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #687864;
    max-width: 1200px;
}

button.light-theme {
    cursor: pointer;
    background-color: #000000;
    color: #F7F9FB;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s;
}

    button:hover.light-theme {
        background-color: #245B7A;
    }
button.dark-theme {
    cursor: pointer;
    background-color: #E94E77;
    color: #F7F9FB;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.3s;
}
    button:hover.dark-theme{
        background-color: #0a0c45
    }
footer {
    background-color: #31708E;
    color: #F7F9FB;
    text-align: center;
    padding: 1.5em 0;
    margin-top: auto;
}

    footer p {
        margin: 0;
    }

.pet-gallery-section {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

    .pet-gallery-section h4, .pet-gallery-section p {
        color: #31708E;
        font-size: 18px;
    }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.pet-card {
    width: 300px;
    background-color: #007bff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

    .pet-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }
    .pet-card h3.light-theme, .pet-card p.light-theme {
        color: #000000;
    }
    .pet-card h3.dark-theme, .pet-card p.dark-theme {
        color: #F7F9FB;
    }

.card-img-top {
    height: 250px;
    object-fit: cover;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.card-body.light-theme {
    background-color: #F7F9FB;
    color: #E94E77;
}

.card-body.dark-theme {
    background-color: #3c3c3c color: #F7F9FB
}

.card-body h5.light-theme {
    color: #E94E77;
}

.card-body h5.dark-theme {
    color: #31708E
}

.card-body p.light-theme {
    color: #E94E77;
}

.card-body p.dark-theme {
    color: aqua
}

.card-deck {
    margin-top: 70px;
}

.card {
    background-color: #ffffff; 
    color: #1E201E; 
    transition: background-color 0.3s, color 0.3s; 
}

body.dark-theme .card {
    background-color: #1E201E; 
    color: #F7F9FB; 
}

.petmain {
    flex-grow: 1;
}

    .petmain h1.light-theme {
        color: #121E26;
        margin-top: 20px;
    }
    .petmain h1.dark-theme{
        color: #F7F9FB;
        margin-top: 20px;
    }

    .petmain p.light-theme {
        color: #121E26;
    }
    .petmain p.dark-theme{
        color: #F7F9FB
    }

main {
    flex-grow: 1;
}


.navbar.dark-theme {
    background-color: #222831 !important; 
    color: #FFFFFF; 
}
    .navbar.dark-theme .nav-link {
        color: rgba(255, 255, 255, 0.5); 
    }
        .navbar.dark-theme .nav-link:hover {
            color: rgba(255, 255, 255); 
        }

    .navbar.dark-theme .navbar-brand {
        color: rgba(255, 255, 255); 
    }

.navbar.light-theme {
    background-color: #007bff; 
    color: #F7F9FB;
}

    .navbar.light-theme .nav-link {
        color: rgba(255, 255, 255, 0.5); 
    }

  
        .navbar.light-theme .nav-link:hover {
            color: #F7F9FB; 
        }


    .navbar.light-theme .navbar-brand {
        color: #F7F9FB; 
    }

    
    .navbar.light-theme .nav-item.active .nav-link {
        color: #FFFFFF; 
    }
.floating-phone-icon {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
    background-color: #007bff !important;
    color: white !important;
    border-radius: 50% !important;
    padding: 15px !important;
    cursor: pointer !important;
    z-index: 1000 !important;
}

.popup-form {
    display: none ;
    position: fixed ;
    bottom: 80px ;
    right: 20px ;
    width: 300px !important;
    padding: 20px !important;
    background-color: #95a1ad;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
    z-index: 1001 !important;
    border-radius: 10px !important;
}

.close-button {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    background-color: transparent !important;
    border: none !important;
    color: #000 !important;
    cursor: pointer !important;
}

    .close-button:hover {
        color: #dc3545 !important;
    }

.popup-form h5 {
    margin-bottom: 10px !important;
}

.popup-form button {
    margin-top: 10px !important;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

    
    .pagination button {
        background-color: #053d7a; 
        color: #fff;
        border: none;
        padding: 10px 15px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }


body.light-theme .pagination button {
    background-color: #007bff; 
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    body.light-theme .pagination button:hover {
        background-color: #0056b3; 
        transform: translateY(-2px);
    }

    body.light-theme .pagination button:disabled {
        background-color: #ccc; 
        color: #666; 
        cursor: not-allowed;
    }


body.dark-theme .pagination button {
    background-color: #222;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

    body.dark-theme .pagination button:hover {
        background-color: #444; 
        transform: translateY(-2px); 
    }

    body.dark-theme .pagination button:disabled {
        background-color: #555; 
        color: #bbb; 
        cursor: not-allowed;
    }

.modal {
    display: none; 
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

    .modal-content img {
        width: 100%;
        height: auto;
    }

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

/* Общие стили для попапов */
.login-popup,
.register-popup {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}

    .login-popup.show,
    .register-popup.show {
        display: block;
        opacity: 1;
        transform: translateY(10px);
    }

/* Темная тема для попапов */
.dark-theme .login-popup,
.dark-theme .register-popup {
    background-color: #121E26;
    color: #fff;
}

/* Стили для лейблов */
.login-popup label,
.register-popup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.dark-theme .login-popup label,
.dark-theme .register-popup label {
    color: #fff;
}

/* Стили для полей ввода */
.login-popup input,
.register-popup input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.dark-theme .login-popup input,
.dark-theme .register-popup input {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

/* Стили для кнопок */
#loginBtn,
#logoutBtn,
#registerBtn {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    transition: color 0.3s ease;
}

.dark-theme #loginBtn,
.dark-theme #logoutBtn,
.dark-theme #registerBtn {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

/* Кнопки для отправки формы */
#submitLogin,
#submitReg {
    background-color: rgba(0, 0, 0, 0.025);
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Кнопки для светлой темы */
body.light-theme #submitLogin,
body.light-theme #submitReg {
    background-color: #007bff;
    color: #fff;
}

body.dark-theme #submitLogin,
body.dark-theme #submitReg {
    background-color: #121E26;
    color: #fff;
}

    /* Плавные переходы для кнопок */
    body.light-theme #submitLogin:hover,
    body.light-theme #submitReg:hover,
    body.dark-theme #submitLogin:hover,
    body.dark-theme #submitReg:hover {
        background-color: #0056b3;
    }

    body.light-theme #submitLogin:active,
    body.light-theme #submitReg:active,
    body.dark-theme #submitLogin:active,
    body.dark-theme #submitReg:active {
        transform: scale(0.98);
    }

/* Стили для переключателя темы */
.btn.theme-toggle-btn {
    background-color: #31708E;
    color: #fff;
}

.dark-theme .btn.theme-toggle-btn {
    background-color: #121E26;
    color: #fff;
}
/* Общие стили для попапа */
/* Общие стили для попапа */
.popup-form button {
    margin-top: 10px;
}

/* Form fields styles */
.popup-form input,
.popup-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.popup-form textarea {
    resize: vertical;
}

/* Button styles */
.popup-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

    .popup-form button:hover {
        background-color: #0056b3;
    }

/* Dark Theme Styles */
.dark-theme .popup-form {
    background-color: #121E26;
    color: #fff;
}

.light-theme .popup-form {
    background-color: #fff;
    color: #000000;
}

.dark-theme .popup-form input,
.dark-theme .popup-form textarea {
    background-color: #555;
    color: #fff;
    border: 1px solid #777;
}

.dark-theme .popup-form button {
    background-color: #444;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    padding: 0;
    line-height: 20px;
}

    .close-button:hover {
        color: red; /* Change color on hover */
    }
